<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    @*<link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">*@
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/logos/RedelexFavIcon.png")">
    <title>Redelex - @ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    @*<link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="@Url.Content("~/Content/themes/material-pro/assets/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/themes/material-pro/assets/plugins/bootstrap-switch/bootstrap-switch.min.css")" rel="stylesheet">
    <!-- toast CSS -->
    <link href="@Url.Content("~/Content/themes/material-pro/assets/plugins/toast-master/css/jquery.toast.css")" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="@Url.Content("~/Content/themes/material-pro/assets/plugins/chartist-js/dist/chartist.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/themes/material-pro/assets/plugins/chartist-js/dist/chartist-init.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/themes/material-pro/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/themes/material-pro/assets/plugins/css-chart/css-chart.css")" rel="stylesheet">

    <!-- Custom CSS -->
    @*<link href="css/style.css" rel="stylesheet">*@
    <link href="@Url.Content("~/Content/themes/material-pro/material/css/style.css")" rel="stylesheet">
    
    <!-- You can change the theme colors from here -->
    @*<link href="css/colors/blue.css" id="theme" rel="stylesheet">*@
    <link href="@Url.Content("~/Content/themes/material-pro/material/css/colors/blue.css")" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <script>
        var UrlRoot = '@Url.Content("~/")';
    </script>

    <style>
        div.hscroll {
        
        overflow: auto;
        white-space: nowrap;
        }
    </style>

</head>


    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    @*<script src="../assets/plugins/jquery/jquery.min.js"></script>*@
    <script src="@Url.Content("~/Content/themes/material-pro/assets/plugins/jquery/jquery.min.js") "></script>

    <!-- Bootstrap tether Core JavaScript -->
    @*<script src="../assets/plugins/bootstrap/js/tether.min.js"></script>*@
    <script src="@Url.Content("~/Content/themes/material-pro/assets/plugins/bootstrap/js/tether.min.js") "></script>

    @*<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>*@
    <script src="@Url.Content("~/Content/themes/material-pro/assets/plugins/bootstrap/js/bootstrap.min.js") "></script>
    <!-- Bootstrap Switch-->
    <script src="@Url.Content("~/Content/themes/material-pro/assets/plugins/bootstrap-switch/bootstrap-switch.js")"></script>

    <!-- slimscrollbar scrollbar JavaScript -->
    @*<script src="js/jquery.slimscroll.js"></script>*@
    <script src="@Url.Content("~/Content/themes/material-pro/material/js/jquery.slimscroll.js") "></script>

    <!--Wave Effects -->
    @*<script src="js/waves.js"></script>*@
    <script src="@Url.Content("~/Content/themes/material-pro/material/js/waves.js") "></script>
    <!--Menu sidebar -->
    @*<script src="js/sidebarmenu.js"></script>*@
    <script src="@Url.Content("~/Content/themes/material-pro/material/js/sidebarmenu.js") "></script>
    <!--stickey kit -->
    @*<script src="../assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>*@
    <script src="@Url.Content("~/Content/themes/material-pro/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js") "></script>
    @*<script src="../assets/plugins/sparkline/jquery.sparkline.min.js"></script>*@
    <script src="@Url.Content("~/Content/themes/material-pro/assets/plugins/sparkline/jquery.sparkline.min.js") "></script>



    <!--Custom JavaScript -->
    @*<script src="js/custom.min.js"></script>*@
    <script src="@Url.Content("~/Content/themes/material-pro/material/js/custom.min.js") "></script>
    <script src="@Url.Content("~/Content/themes/material-pro/assets/plugins/toast-master/js/jquery.toast.js")"></script>
    <script src="@Url.Content("~/Content/themes/material-pro/material/js/toastr.js")"></script>


    <!-- Session-timeout-idle -->
    <script src="@Url.Content("~/Content/themes/material-pro/assets/plugins/session-timeout/idle/jquery.idletimeout.js")"></script>
    <script src="@Url.Content("~/Content/themes/material-pro/assets/plugins/session-timeout/idle/jquery.idletimer.js")"></script>
    <script src="@Url.Content("~/Content/themes/material-pro/assets/plugins/session-timeout/idle/session-timeout-idle-init.js")"></script>

    <!-- chartist chart -->
    <script src="@Url.Content("~/Content/themes/material-pro/assets/plugins/chartist-js/dist/chartist.min.js")"></script>
    <script src="@Url.Content("~/Content/themes/material-pro/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js")"></script>
    <script src="@Url.Content("~/Content/themes/material-pro/assets/plugins/chartist-plugin-pointlabels-master/dist/chartist-plugin-pointlabels.min.js")"></script>

    <!-- Editable -->

    <script src="@Url.Content("~/Content/themes/material-pro/assets/plugins/jquery-datatables-editable/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Content/themes/material-pro/assets/plugins/datatables/dataTables.bootstrap.js")"></script>
    <script src="@Url.Content("~/Content/themes/material-pro/assets/plugins/tiny-editable/mindmup-editabletable.js")"></script>
    <script src="@Url.Content("~/Content/themes/material-pro/assets/plugins/tiny-editable/numeric-input-example.js")"></script>
    <script>
        $('.mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
        $('.editable-datatable').editableTableWidget().numericInputExample().find('td:first').focus();
        $(document).ready(function () {
            $('.editable-datatable').DataTable();
        });
    </script>

    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {

            $('.exportable-datatable').DataTable({
                dom: 'Bfrtip',
                "order": [],
                "language": {
                    "search": "Filtrar Resultados:"
                },
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                buttons: [
                    {extend: 'copy', text: 'Copiar'},{extend: 'csv', text: 'CSV'},{extend: 'excel', text: 'Excel'},{extend: 'pdf', text: 'PDF'},{extend: 'print', text: 'Imprimir'}
                ]
            });

        })
    </script>


    <!-- end - This is for export functionality only -->
    
    
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    @*<script src="../assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>*@
    <script src="@Url.Content("~/Content/themes/material-pro/assets/plugins/styleswitcher/jQuery.style.switcher.js") "></script>



<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            
                            <img src="@Url.Content("~/Content/themes/material-pro/assets/images/logo-icon.png")" alt="Redelex" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="@Url.Content("~/Content/logos/logoRedelexIcon.png")" alt="Redelex" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                         <!-- dark Logo text -->
                         <img src="@Url.Content("~/Content/themes/material-pro/assets/images/logo-text.png")" alt="Redelex" class="dark-logo" />
                         <!-- Light Logo text -->    
                         <img src="@Url.Content("~/Content/logos/logoRedelexText.png")" class="light-logo" alt="Redelex" /></span> </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item hidden-sm-down search-box">
                            <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                        </li>
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        

                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        
                        
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                        
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        
                        <!-- ============================================================== -->
                        <!-- End Profile -->
                        <!-- ============================================================== -->
                        

                        <!-- ============================================================== -->
                        <!-- Informacion de la Cuenta -->
                        <!-- ============================================================== -->
                        
                        

                        <!-- ============================================================== -->
                        <!-- End Informacion de la Cuenta -->
                        <!-- ============================================================== -->

                        <!-- ============================================================== -->
                        <!-- Salir -->
                        <!-- ============================================================== -->
                        
                        <li class="nav-item hidden-sm-down search-box">
                            <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="#"><div><i class="mdi mdi-exit-to-app"></i><span>Salir</span></div></a>
                            
                        </li>

                        
                        
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- User profile -->
                @*<div class="user-profile" style="background: url(@Url.Content("~/Content/themes/material-pro/assets/images/background/user-info.jpg")) no-repeat;">
                    <!-- User profile image -->
                    <div class="profile-img"> <img src="@Url.Content("~/Content/themes/material-pro/assets/images/users/profile.png")"  alt="user" /> </div>
                    <!-- User profile text-->
                    <div class="profile-text"> <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Markarn Doe</a>
                        <div class="dropdown-menu animated flipInY">
                            <a href="#" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                            <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
                            <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                            <div class="dropdown-divider"></div> <a href="#" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
                            <div class="dropdown-divider"></div> <a href="login.html" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>
                </div>*@

                <div class="user-profile">
                    <!-- User profile image -->
                    
                    <!-- User profile text-->
                    <div class="profile-text"> <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">@Session["UsuarioNombre"] - @Session["CuentaNombre"]</a>
                        <div class="dropdown-menu animated flipInY">
                            <a href="#" class="dropdown-item"><i class="ti-user"></i> Contraseña</a>
                            
                            <div class="dropdown-divider"></div> <a href="#" class="dropdown-item"><i class="ti-settings"></i> Cuenta</a>
                            <div class="dropdown-divider"></div> <a href="login.html" class="dropdown-item"><i class="mdi mdi-exit-to-app"></i> Salir</a>
                        </div>
                    </div>
                </div>

                <!-- End User profile text-->
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">MENU</li>
                        <li><a href="@Url.Content("~/Clientes")"><i class="mdi mdi-account"></i><span class="hide-menu">Clientes </span></a></li>
                        <li><a href="https://cloudapp.redelex.com/procesos/login1.asp?token=1FB42DA3-A75C-4730-A863-269AD447353B" target="_blank"><i class="mdi mdi-menu"></i><span class="hide-menu">Entrar a Redelex </span></a></li>
                        <li><a href="@Url.Content("~/Home/DashboardCuentas")"><i class="mdi mdi-gauge"></i><span class="hide-menu">Estadisticas </span></a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
            <!-- Bottom points-->
            <div class="sidebar-footer">
                <!-- item-->
                <a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
                <!-- item-->
                <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
                <!-- item-->
                <a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
            </div>
            <!-- End Bottom points-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">@ViewBag.Title</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Content("~/")">Inicio</a></li>
                            <li class="breadcrumb-item active">@ViewBag.Title</li>
                        </ol>
                    </div>
                    
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                
                
                <!-- <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-block">
                                This is some text within a card block.
                            </div>
                        </div>
                    </div>
                </div>
                    -->


                                <div id="idle-timeout-dialog" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Su sesión expirará pronto</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    <i class="fa fa-warning font-red"></i> Su sesión será bloqueada en
                                                    <span id="idle-timeout-counter"></span> segundos.</p>
                                                <p> Desea continuar su sesión? </p>
                                            </div>
                                            <div class="modal-footer text-center">
                                                <button id="idle-timeout-dialog-keepalive" type="button" class="btn btn-success" data-dismiss="modal">Si, continuar trabajando</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                @RenderBody()

                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                                <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                                <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">
                © 2017 Landacom Ltda.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->


</body>




</html>
